body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, red, blue);
        }
        div {
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50px;
            border-radius: 20px;
            color: azure;
        }
        input {
            font-size: 20px;
            border: 15px;
            outline: none;
            padding: 10px;
        }
        button{
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            background-color: blue;
            color: azure;
        }
        .f {
            color: beige;
            border: none;
            border-radius: 15px;
            
        }